<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Rambling Soul</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="header">
<div id="logo">
<h1><a href="#">Language<br />
  Blog</a></h1>
</div>
<ul id="topmenu">
<li class="current"><a href="#">Home</a></li>
</ul>
</div>
<div id="contents">

<h1>Blog on the way about the following</h1>
<ul>
    <li> Ruby </li>
    <li> Erlang </li>
    <li> Elixir </li>
  </ul>
  <p> <%= yield %> </p>
</div>
<ul id="menu">
<li><a href="#">Posts</a></li>
</ul>
<div id="footer">
<a href="#">XHTML 1.0</a> | <a href="#">CSS</a> | <a href="http://www.ramblingsoul.com">CSS Template</a> by Ramblingsoul.com</div>
</body>
</html>